.App {
  text-align: center;
  background-color: #19323C;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.header {
  background: url('./concert.jpg');
  font-family: 'Staatliches', cursive;
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-bottom: 0px;
  font-size: 3em;
  color: #6f2f28;
}

h3 {
  color: #9a6d68;
}

footer {
  width: 65%;
  margin: auto;
}

.contributors {
  margin-left: 23em;
}
